* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.slider{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.slider-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.slider-control-next, .slider-control-prev{
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:45%;
    z-index: 2;
    padding-top: 12px;
    text-align: center;
}
.slider-control-next:hover, .slider-control-prev:hover{
    border: 1px solid #ffffff;
}
.slider-control-next{
    right: 40px;
}
.slider-control-next::before {
    content: url("images/next.png");
  }
.slider-control-prev{
    left:40px;
}
.slider-control-prev::before{
    content: url("images/prev.png");
}
.slide-item{
    position: relative;
}
.slide-text{
    font-family: 'Merienda', cursive;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-size: 2.8em;
    top: 70%;
    padding-left: 50px;
    z-index: 2;
}
.slider-indicators{
    position: absolute;
    flex-direction: row;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    z-index: 2;
}
.slider-indicator{
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.slider-indicators .slider-indicator:hover{
    background-color: #ffffff;
}
.slider-indicators .slider-indicator:first-child,
.slider-indicators .slider-indicator:last-child{
    display: none;
}
.active{
    background-color: #ffffff;
}
@media screen and (min-width: 1600px) {
    img{
        width: 100%;
        max-width: none;
    }
    .slide-text{
        font-size: 3.5em;
        top:65%;
    }
}
@media screen and (max-width: 500px) {
    .slide-text{
        font-size: 1.5em;
        top:50%;
    }
    .slider-control-next, .slider-control-prev{
       display: none;
    }
}